data/*
.env
.venv
env
venv
.idea

**/*.ipynb
!results.ipynb
!**/archive/*.ipynb
!**/archive/Daniel/digital_tribes_analysis.ipynb

**/*.png
**/*.jpg
**/*.jpeg
**/*.pdf
**/__pycache__
**/*.csv
**/*.tsv

**/.DS_Store